.factor__wrapper {
    padding: 145px 65px 185px;
}

.factor__wrapper h4 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 500;
    margin-bottom: 96px;
}

.factor__item-list {
    display: flex;
    justify-content: space-around;
}

.factor__item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factor__item a img{
    height: 179px;
    width: auto;
    margin-bottom: 20px;
}

.factor__item div {
    font-size: 3.2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (max-width:1024px) {
    .factor__wrapper h4 {
        font-size: 1.8rem;
    }

    .factor__item a img {
        height: 101px;
        width: auto;
    }

    .factor__item div {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .factor__wrapper {
        padding: 70px 0 135px;
    }

    .factor__item a img {
        height: 62px;
        width: auto;
    }
}