.story__wrapper {
    position: relative;
}

.story__title {
    color: var(--main-site-background);
    font-size: 48px;
    font-weight: 500;
    padding: 50px 85px 0 250px;
    /* position: absolute; */
}

.story__background {
    width: 100%;
    position: relative;
}

.story__background img {
    width: 100%;
    margin-top: -17px;
    margin-bottom: 20px;
}

.story__background img:first-child {
    height: auto;
    margin-top: -15px;
}

.story__content {
    padding: 0 85px 0 250px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
    margin-bottom: 40px;
}

.story__content-quote {
    font-size: 2.4rem;
    color: var(--main-site-background);
    font-weight: 500;
}

.story__content-info {
    display: flex;
    flex-wrap: wrap;
}

.story__content-info article {
    width: 50%;
}

.story__content-info article h6 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 32px;
}

.story__content-info article p {
    font-size: 1.6rem;
    color: var(--main-text-color);
    margin-bottom: 58px;
    margin-left: 37px;
}

.story__video {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;
}

.story__video-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.story__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.story__video-text {
    text-align: center;
    color: var(--main-light-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: 4;
}

.story__video-text h2 {
    font-size: 4rem;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .story__title {
        font-size: 3.2rem;
        font-weight: 500;
        padding: 0 70px;
    }

    .story__content {
        padding: 0 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .story__content-info {
        flex-direction: column;
    }

    .story__content-info article {
        width: 100%;
    }

    .story__content-text {
        position: relative;
    }

    .story__video-text h2 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .story__content {
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .story__content-quote {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .story__content-info article p {
        font-size: 1.4rem;
    }
}