.contactInfo {
    background-color: var(--main-site-coffee-color);
}

.contactInfo__wrapper {
    padding: 135px 80px 135px 0;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 70px;
}

.contactInfo__wrapper h3::before {
    content: '';
    width: 95px;
    height: 1px;
    display: block;
    background-color: var(--main-light-color);
    margin-top: 23px;
}

.contactInfo__wrapper h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--main-light-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactInfo__description {
    font-size: 2rem;
    display: grid;
    grid-template-areas: 
                "c1 c3"
                "c2 c4"
                "- c5";
    grid-gap:30px 80px ;
}

.contactInfo__description p {
    display: grid;
    grid-template-columns: 100px auto;
}

.contactInfo__description span {
    color: var(--main-light-color);
}

.contactInfo__description .c1 {
    grid-area: c1;
    color: #fff;
}

.contactInfo__description .c2 {
    grid-area: c2;
    color: #fff;
}

.contactInfo__description .c3 {
    grid-area: c3;
    color: #fff;
}

.contactInfo__description .c4 {
    grid-area: c4;
    color: #fff;
}

.contactInfo__description .c5 {
    grid-area: c5;
    color: #fff;    
}

@media screen and (max-width:1024px) {
    .contactInfo__wrapper {
        padding: 40px 65px 95px;
        grid-template-columns: 1fr;
    }

    .contactInfo__wrapper h3 {
        margin-left: -65px;
        grid-template-columns: 50px auto;
        grid-gap: 15px;
        font-size: 2.6rem;

    }

    .contactInfo__wrapper h3::before {
        width: 50px;
    }

    .contactInfo__description {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .contactInfo__wrapper {
        padding: 35px 20px 120px;
    }

    .contactInfo__wrapper h3 {
        font-size: 2.4rem;
    }

    .contactInfo__wrapper h3::before {
        width: 0px;
    }

    .contactInfo__description {
        font-size: 1.4rem;
        grid-template-areas: 
                        "c1"
                        "c2"
                        "c3"
                        "c4"
                        "c5";

    }

    .contactInfo__description .c3 {
        margin-bottom: 40px;
    }
}